@charset "utf-8";
// Set your brand colors
$primary: #f9e54e;
$base: #fbfef9;
$info: #3ca8d6;
$warning: #ff8646;
$link: #ad8dcd;
$dark: #191923;
$family-primary: Geometry Soft Pro Bold N, sans-serif;

.shadow {
	border: 5px #191923 solid;
	border-radius: 2px;
	margin: 5px;
	padding: 5px;
	box-shadow: -8px 8px 0px #ad8dcd;
}

@import '../../../node_modules/bulma/bulma.sass';
