@charset "utf-8";

// Set your brand colors
$primary: #27abf2;
$base: #fcfae1;
$info: #f6e497;
$warning: #b9121b;
$link: #ffffff;
$family-primary: Geometry Soft Pro Bold N, sans-serif;
@import '../../../node_modules/bulma/bulma.sass';
